[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "abctools"]
	path = abctools
	url = https://github.com/dennisprangle/abctools
[submodule "gk"]
	path = gk
	url = https://github.com/dennisprangle/gk
